.WelcomePage {
    background-image: url(/img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    height: 100vh;
    width: 100vw;





}

.WPMaincontainer {
    width: 50%;

}

.WPmain {
    padding-left: 15%;
}

.WPh1 {
    margin-top: 10%;
    font-family: 'Iceberg, sans-serif';


    font-size: 6rem;
    font-weight: 400;
    line-height: 6rem;
    letter-spacing: 0px;
    text-align: left;

    max-width: 100%;
    max-height: 20%;
    margin-bottom: 5%;
}

.WPlink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background: #E56444;
    color: #1e1e1e;
    width: 20%;
    height: 3rem;
    text-decoration: none;
    margin-top: 5%;
    font-size: 2rem;
}

.WPp {
    max-width: 90%;
    align-self: start;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 150%;
}

@media (max-width:1440px) {
    .WPh1 {
        margin-top: 8%;
        font-size: 5rem;
        text-align: center;
        line-height: 5rem;
    }


}

@media (max-width:1200px) {
    .WPh1 {
        margin-top: 7%;
        font-size: 4rem;
        text-align: center;
        line-height: 4rem;
    }
}

@media (max-width:1000px) {

    .WPh1 {
        margin-top: 6%;
        font-size: 3rem;
        text-align: center;
        line-height: 3rem;
    }
}

@media (max-width: 800px) {
    .WelcomePage {
        background-image: url(/img/backgroundmobile.png);
        background-size: cover;

    }

    .WPmain {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding-top: 5%;
        margin: 0 auto;
        padding-left: 3%;
        padding-right: 3%;

    }

    .WPh1 {
        margin-top: 5%;
        font-size: 2rem;
        text-align: center;
        line-height: 2rem;
    }

    .WPp {
        max-width: 100%;
        font-size: 0.8rem;
    }

    .WPbutton {
        margin: 0 auto;
    }

    .WPMaincontainer {
        width: 100%;

    }
}