.gallerypage {
    margin: 0 auto;



    width: 86%;

}

.textLineHeader {
    width: 100%;
    border-bottom: 1px solid#FAFAFA;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 30px;
    opacity: 0.4
}

.textLineMain {
    max-width: 83%;
    width: 100%;
    border-bottom: 1px solid#FAFAFA;
    opacity: 0.4
}

.GPh2 {
    margin-bottom: 1%;
    margin-left: 1%;
    font-size: 1.2rem;
    width: 10vw;


}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative;
}

.titleblock {
    display: flex;
    justify-content: space-between
}

.filters-button {
    width: 35%;
    height: 1.5rem;
    margin: auto 0;
    margin-right: 2%;

    border: 1px solid aliceblue;
}

@media (min-width:800px) {

    .filters-button {
        display: none;

    }


}

@media (max-width:800px) {
    .gallerypage {
        width: 100%;
    }

    .textLineMain {
        max-width: 90%;
        margin: 0 auto;
    }

    .textLineHeader {
        max-width: 90%;
        margin: 0 auto;
        margin-top: 5%;
    }
}