.gallerypage {
    margin: 0 auto;



    width: 86%;

}

.textLineHeader {
    width: 100%;
    border-bottom: 1px solid#FAFAFA;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 30px;
    opacity: 0.4
}

.textLineMain {
    max-width: 83%;
    width: 100%;
    border-bottom: 1px solid#FAFAFA;
    opacity: 0.4
}

.GPh2 {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 1.5rem;


}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative;
}

.titleblock {
    display: flex;
    justify-content: space-between
}

.filters-button {}

@media (min-width:800px) {

    .filters-button {
        display: none;

    }
}